.compagnydescription-principal {
  margin: 100px 0;
  padding: 100px 0;
  background-color: var(--color-text-description);
  color: white;
}

.compagnydescription-titre {
  margin: 50px 0;
  font-size: 3.5rem;
}

.compagnydescription-titre::after {
  content: "";
  display: block;
  width: 10.6rem;
  height: 5px;
  border-radius: 3px;
  margin: 20px auto;
  background-color: var(--colorBackground);
}

.compagnydescription-text {
  width: 700px;
  margin: 50px auto;
  font-size: 1rem;
}
