.description-container {
	background-color: var(--colorBackground);
	border: thick double var(--color-text-description);
	border-radius: 5px;
	padding: 24px;
	margin: 15px 790px;
}

.description-title {
	margin-bottom: 10px;
}

.decription-prix {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.description-logo {
	display: flex;
	flex-direction: column;
}

.decrip-texte {
	display: flex;
	flex-direction: column;
}

.Container-unprice {
	display: flex;
	justify-content: space-around;
}

.logo-css {
	margin-top: 10px;
	width: 30px;
}

.texte-css {
	margin-top: 10px;
	height: 30px;
}

.logo-css-price {
	margin-right: 30px;
	margin-top: 10px;
	width: 30px;
}

.button-description-css {
	margin-top: 40px;
}

.frame-general-css {
	display: flex;
	padding: 5px;
	background-color: var(--color-title);
	border-radius: 20px;
	border: 5px;
	color: var(--colorBackground);
	width: 17%;
	height: 40px;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.frame-general-css-a {
	display: flex;
	padding: 5px;
	background-color: var(--color-title);
	border-radius: 20px;
	border: 5px;
	color: var(--colorBackground);
	width: 100%;
	height: 40px;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: 20px;
}

.frame-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
