.footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .footer-links {
    position: absolute;
    top: 60px;
    right: 10px;
    display: flex;
    align-items: center;
  }
  
  .footer-links a {
    margin-right: 10px;
  }
  
  .footer-links img {
    width: 50px;
  }

  .card-body {
    text-align: left;
  }