.container-general-page {
	/* display: flex; */
	background-color: white;
	border-radius: 30px;
	border: 17px 12px 4px 2px groove var(--color-text-description);
	padding: 10px 10px 10px 10px;
	margin: 50px 10px 50px 10px;
	width: 50%;
	height: 60%;
}
